<div class="modal"  id="<%=id%>">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style= "width:1200px">
    <script type="text/javascript">
      console.log("Model Opened");
    </script>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><h4><%= teacherInfo + " Daily Report"%></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="<%=reportBodyID%>" >

        <div class="m-4" >

<div class="" style="background-color: transparent; padding: 10px; margin-bottom: 30px">
<div class="" style="background-color:transparent; display: inline-block">
  <img src="/images/site_logo.png" height="100px" alt="">
</div>
<div class="" style="display:inline;  position:absolute;"">
  <h1 class="" style="float: left; margin-left: 120px; color:#C8C6C6; font-size:3rem"><%= teacherInfo + " Daily Report"%></h1>
  <h3 class="" style="display:inline;   float: left; margin-left: 120px; margin-top:10px; color:#C8C6C6">Thursday, March 10, 2022</h3>
</div>




</div>
<%- include( "row_header" ) -%>

<% for (let i = 0; i < orderedClasses.length; i++) { %>

<%- include( "download-row", {orderedClasses:orderedClasses, orderedClassPeriods:orderedClassPeriods, classTag:classTags,i:i}) -%>

<% } %>
      </div>
</div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <a class="btn btn-primary float-end  "data-bs-toggle="modal" data-bs-target="#myModal"  role="button" id="<%=buttonID%>">Download</a>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
