<div class="row bg-transparent" name="<%= orderedClasses[i]._id %>" style="height: 8rem" id="<%= orderedClasses[i].class_name %>">
  <div class="col-2 m-1  border border border-dark rounded-3 shadow" >

    <div class="" style="position: relative">

      <h1 class="p-0 period" style="font-size: 8.5rem; color:#ECECEC; position: absolute;  padding:0 display:inline-block; margin-top: -35px; margin-left: 0px" ><strong><%= orderedClassPeriods[i]%></strong></h1>
      <div class="mt-4 ms-0" style="position: absolute; top: 0px; left: 0.4rem">
        <h6 class="text-truncate class-name" style="font-size: 1.3rem; color:#2F86A6" id=""><%=  orderedClasses[i].class_name %></h6>
        <h6 class="m-0 text-truncate class-type <%=orderedClasses[i].class_type%> " id=""><%= "Group: " + orderedClasses[i].class_type%></h6>
      </div>


      <h6></h6>
    </div>


  </div>
  <div class="col m-1 border border border-dark rounded-3 shadow">
    <form action="/action_page.php" class="daily-report-form">

      <textarea  name="Today" class="daily-report-textarea today"  id="<%= classTag["todaysClass"] + orderedClassPeriods[i]%>"><%= orderedClasses[i].current_report.todays_class %></textarea>

    </form>
  </div>
  <div class="col-1 m-1 border border-dark rounded-3 shadow">
    <form action="/action_page.php" class="daily-report-form">

      <textarea  name="w3review" class="daily-report-textarea homework" id="<%= classTag["homework"] + orderedClassPeriods[i] %>" ><%= orderedClasses[i].current_report.homework %></textarea>

    </form>

  </div>
  <div class="col m-1 border border-dark rounded-3 shadow">
    <form action="/action_page.php" class="daily-report-form">

      <textarea  name="w3review" class="daily-report-textarea nextclass" id="<%= classTag["nextClass"]  + orderedClassPeriods[i]%>"><%= orderedClasses[i].current_report.next_class %></textarea>

    </form>
  </div>
  <div class="col-1 m-1 pt-4   border border border-dark rounded-3 shadow">
    <p class="m-2 text-truncate teacher"><strong><%= orderedClasses[i].teacher_name %></strong></p>

    <p hidden class="code"><%=orderedClasses[i].regular_teacher%></p>
    
  </div>
</div>
