<%- include('partials/header'); -%>
<p hidden id="teacherCode"><%=teacherInfo["code"]%></p>
<p hidden id="classTags"><%=classTags%></p>

<div class="container-fluid px-0 flex-grow-1">
  <div class="row g-0 flex-nowrap navbar-expand-lg">
<%- include('partials/teacher-sidebar'); -%>
    <main class="col px-4 px-lg-5 pt-5">
      <h1>Teacher <%=" " + teacher + " "%> Dashboard</h1>


      <!-- ************
      DAILY REPORT
      ************ -->

      <section class="row min-vh-100 pt-0" id="sectionReports"  >
        <p hidden id="thisDate"></p>
          <p hidden id="weekDay"><%=weekDay%></p>

        <div class="col pt-0 d-flex flex-column"  >

          <h3 class="text-secondary"> <%="Daily Report  -  " + thisDate %> </h3>
          <div class="bg-light rounded  h-fill p-4">
            <div class="card bg-white text-dark shadow h-fill">
              <div class="card-body ">
                <!-- tabs -->
                <ul class="nav nav-tabs " role="tablist">
                  <li class="nav-item "><button class="nav-link bg-transparent text-dark text-uppercase active" data-bs-toggle="tab" data-bs-target="#tab1" role="tab">Report Classes</button></li>

                  <% if (teacherInfo["hrClass"] != null) { %>
                  <li class="nav-item"><button class="nav-link bg-transparent text-dark text-uppercase" data-bs-toggle="tab" data-bs-target="#tab2" role="tab"><%=teacherInfo["hrClass"] + " Homeroom Report"%></button></li>
                  <%}%>
                  <% if (teacherInfo["esl"] != null) { %>
                  <li class="nav-item"><button class="nav-link bg-transparent text-dark text-uppercase" data-bs-toggle="tab" data-bs-target="#tab3" role="tab"><%=teacherInfo["esl"] + " Report"%></button></li>
                  <%}%>
                  <% if (teacherInfo["cda"] != null) { %>
                  <li class="nav-item"><button class="nav-link bg-transparent text-dark text-uppercase" data-bs-toggle="tab" data-bs-target="#tab3" role="tab"><%=teacherInfo["cda"] + " Report"%></button></li>
                  <%}%>

                </ul>
                <div class="tab-content py-2 " >
                  <div class="tab-pane active " id="tab1" role="tabpanel">
                    <div class="container ps-0">
                        <!-- <h3> "Teacher " + teacher + "'s " + "Friday " + "Classes:</h3> -->

<%- include("partials/row_header") -%>



<!-- //////Iteraror Start///////// -->
<% for (let i = 0; i < orderedClasses.length; i++) { %>
  <%- include("partials/row",{orderedClasses:orderedClasses,classTag:classTags["orderedClasses"],orderedClassPeriods:orderedClassPeriods,i:i}) -%>
<% } %>
<!-- //////Iteraror END///////// -->

                    </div>
                  </div>




                <!-- new tab pane here -->
                <div class="tab-pane " id="tab2" role="tabpanel">
                  <div class="container ps-0">
<%- include("partials/row_header") -%>
                <% for (let i = 0; i < orderedHomeroomClasses.length; i++) { %>
<%- include("partials/row",{orderedClasses:orderedHomeroomClasses,classTag:classTags["orderedHomeroomClasses"],orderedClassPeriods:orderedHRPeriods,i:i}) -%>
                <%} %>
                <!-- //////Iteraror Start///////// -->


                <!-- //////Iteraror END///////// -->

                  </div>
                </div>





                </div>
                <!-- /tab-content -->
              </div>
            </div>
          </div>
        </div>
      </section>




      <footer class="row mt-5 pt-5 text-secondary">

        <div class="col-12 text-end small py-4"> &copy; 2022-present Inc. </div>
      </footer>
    </main>
  </div>
</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

<script src="js/scripts.js"></script>
</body>

</html> -->
<%- include('partials/footer'); -%>
